body{
background:#020617;
color:white;
text-align:center;
font-family:Arial;
padding:40px;
}

.wheel-container{
display:flex;
justify-content:center;
margin:40px;
}

button{
padding:20px;
font-size:20px;
background:#fbbf24;
border:none;
cursor:pointer;
}
